@import url('https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,100..900&display=swap');
@import 'tailwindcss';

@theme {
  --font-family: 'Inter', 'NeueMontreal', sans-serif;
  --font-title: 'Komet';
  --color-primary: #0D34E9;
  --color-secondary:#0A0BA4;
  --color-accent:#F5A623;
  --color-primary-electric:#2548EB;
  --color-primary-intense:#0F32D5;
  --color-paragraph:#303030;
  --color-back:#E6E9F0;
  --color-back-blue:#6B728A;
  --breakpoint-xs: 400px;
  --breakpoint-3xl: 106rem;
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-3px);
  }
  20%,
  40%,
  60%,
  80% {
    transform: translateX(3px);
  }
}

.animate-shake {
  animation: shake 2s ease-in-out infinite;
}

/* Por defecto (móvil y hasta lg): fadeUp */
.fade-down.active {
  opacity: 1;
  animation: fadeUp 1.2s ease-in-out forwards;
}

@keyframes fadeUp {
  from {
    opacity: 1;
    transform: translateY(100%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* En lg y arriba: fadeDown */
@media (min-width: 1024px) {
  .fade-down.active {
    animation: fadeDown 1.2s ease-in-out forwards;
  }
}

@keyframes fadeDown {
  from {
    opacity: 1;
    transform: translateY(-100%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-down-2.active {
  opacity: 0.5;
  animation: fadeUp2 1s ease-in-out forwards;
  animation-delay: 1s;
}

@keyframes fadeUp2 {
  from {
    opacity: 0.5;
    transform: translateY(-80%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* En lg y arriba: fadeDown2 */
@media (min-width: 1024px) {
  .fade-down-2.active {
    animation: fadeDown2 1s ease-in-out forwards;
    animation-delay: 0.2s;
  }
}

@keyframes fadeDown2 {
  from {
    opacity: 0.5;
    transform: translateY(-100%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Por defecto (móvil y hasta lg): fadeDown */
.fade-up.active {
  opacity: 1;
  animation: fadeDown 1.2s ease-in-out forwards;
}

/* En lg y arriba: fadeUp */
@media (min-width: 1024px) {
  .fade-up.active {
    animation: fadeUp 1.2s ease-in-out forwards;
  }
}
