@import url("https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,100..900&display=swap");
@import "tailwindcss";

@theme {
  --font-family: "Inter", "NeueMontreal", sans-serif;
  --font-title: "Komet";
  --color-primary: #0d34e9;
  --color-primary-rgb: 13, 52, 233;
  --color-secondary: #0a0ba4;
  --color-accent: #f5a623;
  --color-primary-electric: #2548eb;
  --color-primary-intense: #0f32d5;
  --color-paragraph: #303030;
  --color-back: #e6e9f0;
  --color-back-blue: #6b728a;
  --breakpoint-xs: 400px;
  --breakpoint-3xl: 106rem;
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-3px);
  }
  20%,
  40%,
  60%,
  80% {
    transform: translateX(3px);
  }
}

.animate-shake {
  animation: shake 2s ease-in-out infinite;
}

.back-img {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 75%, #000 100%);
}

.shadow-ubi {
  box-shadow:
    0 72px 20px 0 rgba(0, 0, 0, 0),
    0 46px 18px 0 rgba(0, 0, 0, 0.01),
    0 26px 15px 0 rgba(0, 0, 0, 0.03),
    0 11px 11px 0 rgba(0, 0, 0, 0.04),
    0 3px 6px 0 rgba(0, 0, 0, 0.05);
}

.equipment::before {
  content: "";
  position: absolute;
  inset: 0;

  background-image: url("/images/back-sections.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;

  opacity: 0.1;
  z-index: 0;
  pointer-events: none;
}
