@import url("https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,100..900&display=swap");
@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-family: "Inter", "NeueMontreal", sans-serif;
  --font-title: "Komet";
  --color-primary: #0d34e9;
  --color-primary-rgb: 13, 52, 233;
  --color-primary-dark: #4F6BFF;
  --color-secondary: #0a0ba4;
  --color-secondary-dark: #1E2452;
  --color-accent: #f5a623;
  --color-primary-electric: #2548eb;
  --color-primary-intense: #0f32d5;
  --color-paragraph: #303030;
  --color-back: #e6e9f0;
  --color-back-blue: #6b728a;
  --color-paragraph-dark: #E8EAF6;
  --color-back-dark-rgb: 11, 14, 26;
  --color-back-dark: #0B0E1A;
  --breakpoint-xs: 400px;
  --breakpoint-3xl: 106rem;
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-3px);
  }
  20%,
  40%,
  60%,
  80% {
    transform: translateX(3px);
  }
}

.animate-shake {
  animation: shake 2s ease-in-out infinite;
}

.back-img {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 75%, #000 100%);
}

.shadow-ubi {
  box-shadow:
    0 72px 20px 0 rgba(0, 0, 0, 0),
    0 46px 18px 0 rgba(0, 0, 0, 0.01),
    0 26px 15px 0 rgba(0, 0, 0, 0.03),
    0 11px 11px 0 rgba(0, 0, 0, 0.04),
    0 3px 6px 0 rgba(0, 0, 0, 0.05);
}

.equipment::before {
  content: "";
  position: absolute;
  inset: 0;

  background-image: url("/images/back-sections.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;

  opacity: 0.1;
  z-index: 0;
  pointer-events: none;
}

@media (max-width: 1023px) {
  .equipment::before {
    content: "";
    position: absolute;
    inset: 0;
    background-size: 100% auto;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    opacity: 0.1;
    z-index: 0;
    pointer-events: none
  }
}

.shadow-testimony {
  background: linear-gradient(180deg, #fff 0%, rgba(255, 255, 255, 0) 100%);
}
.gradient-overlay {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 30%, #000 100%);
}
@media (min-width: 768px) {
  .gradient-overlay {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 60%, #000 100%);
  }
}
@media (min-width: 1024px) {
  .gradient-overlay {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 75%, #000 100%);
  }
}
