---
import { Icon } from 'astro-icon/components';

const icons = [
  {
    name: 'tiktok',
    href: '',
  },
  {
    name: 'instagram-2',
    href: '',
  },
  {
    name: 'facebook-2',
    href: '',
  },
];
---

<div class="flex justify-center items-center gap-3.5 w-full">
  {
    icons.map((i) => (
      <a
        href={i.href}
        class="p-2 rounded-full flex items-center justify-center bg-accent shrink-0"
      >
        <Icon name={i.name} class={'w-4 h-4  text-white'} />
      </a>
    ))
  }
</div>
