---
import Button from '../../components/Button.astro';

type Translations = typeof import('../../i18n/en').default;
type StartedContent = Translations['main']['started'];
interface Props {
  content: StartedContent;
}
const { content } = Astro.props as Props;
---
<section class="w-full flex justify-center items-start  relative aspect-1440/684 py-20 lg:pt-30 3xl:max-h-[80vh]">
  <img src="/images/back-started.webp" alt="Imagen de Fondo Quality Port" width="2000" height="1575" decoding="async" loading="lazy" class="absolute top-0 left-0 w-full h-full object-cover object-[50%_60%] z-2 inset-0"/>
  <div class="absolute inset-0 top-0 left-0 w-full h-full bg-black/50 lg:bg-black/30 z-4"></div>
  <div class="flex flex-col justify-center items-center gap-10 z-5" data-aos="zoom-in">
    <div class="flex flex-col justify-center items-center gap-8 max-w-[50%]">
      <h2 class="text-white text-center text-[56px] font-semibold leading-[114%]">{content.title}</h2>
      <p class="text-white text-center text-[16px] font-normal leading-[150%]">{content.description}</p>
    </div>
    <Button
        text={content.button}
        textClass="text-paragrasph"
        href="#"
        target="_blank"
        extraBtnClass={`bg-accent hover:bg-accent/90 `}
        iconName='phone'
      />
  </div>
</section>