---
type Translations = typeof import('../../i18n/en').default;
type HeroContent = Translations['landingFirst']['hero'];
interface Props {
  content: HeroContent;
  second?: boolean;
}
const { content, second } = Astro.props as Props;
---
<section class="w-full flex flex-col items-center justify-center relative overflow-hidden h-[55vh] md:h-[95vh] lg:h-[90vh] xl:h-screen">
  <div class="w-full relative overflow-hidden flex justify-center items-center h-full">
    <img src="/images/back-started.webp" alt="Fondo de Hero Landing" width="1500" height="705" class="absolute inset-0 w-full h-full object-cover object-[60%_100%]  xl:object-right -z-20">
    <div class={`absolute h-full w-full -z-15 ${second ? 'bg-[linear-gradient(0deg,rgba(0,0,0,0.20)_0%,rgba(0,0,0,0.20)_100%)]' : 'bg-[linear-gradient(0deg,rgba(0,0,0,0.55)_0%,rgba(0,0,0,0.55)_100%)]'}  `}></div>
    <div
      class={`container-full flex flex-col md:justify-center items-center   text-white h-full  3xl:pb-20  ${second ? 'justify-end gap-10 md:gap-4  pb-13 translate-y-[0%] lg:translate-y-[6%]' : 'gap-6 justify-end md:justify-center md:gap-8 3xl:gap-16 xl:justify-end translate-y-0 md:translate-y-[3%] lg:translate-y-[-12%] pb-10'}`}
    >
      <div class={`flex flex-col justify-center items-center  ${second ? 'gap-6 md:gap-15' : 'gap-6'}`}>
        <h1 class={` font-bold md:font-extrabold leading-[110%] text-center ${second ? 'text-[30px] md:text-[64px] ' : 'text-[25px] md:text-[46px] 3xl:text-[53px]'} `} set:html={content.title}> </h1>
        <p class={` leading-[100%] text-center ${second ? 'text-[18px] md:text-[28px] md:lg:text-[32px] font-bold md:font-black' : 'text-[18px] md:text-[26px] font-bold'} `} set:html={content.description}></p>
      </div>
      <div class="flex flex-col justify-center items-center gap-10">
        <div class={`flex flex-col justify-center items-start gap-4 ${content.items.length > 0 ? 'block' : 'hidden'}`}>
          {
            content.items.map((item)=>( 
              <div class="flex justify-start items-center gap-2 md:gap-4">
                <img src="/images/check-o.svg" alt="Check" width="32" height="32" class="w-6 md:w-8 h-6 md:h-8">
                <p class="text-[18px] md:text-[24px] 3xl:text-[28px] font-bold leading-normal">{item}</p>
              </div>
            ))
          }
        </div>
        <div class="flex flex-col md:justify-center items-center gap-4 md:gap-6">
          <button class={`animate-bounce-subtle  bg-accent ${second ? 'h-14 md:h-auto leading-normal py-2.5 open-popup' : 'open-popup-2 py-4 md:py-1 leading-[100%] md:leading-[187%]'}  px-6  rounded-lg flex justify-center items-center text-white text-[20px] md:text-[26px] font-bold  hover:bg-primary transition-all duration-300 ease-in-out cursor-pointer uppercase`}>
            {content.button}
          </button>
          {
            second && <a class="animate-bounce-subtle px-6 rounded-lg flex justify-center items-center gap-2.5 text-white text-[20px] md:text-[26px] transition-all duration-300 ease-in-out cursor-pointer border border-white box-border  leading-[100%] h-auto py-3 font-bold" href="tel:+13212179445">
              <img src={`/images/phone-2.svg`} alt="Icono de telefono" class="w-6 md:w-8 h-6 md:h-8">
              <p>(321) 217-9445</p>
            </a>
          }
        </div>
      </div>
    </div>
  </div>
  
</section>